/************************************************************
* LED class                                                 *
************************************************************/
.led {
    -fx-skin     : "eu.hansolo.enzo.led1.skin.LedSkin";
    -fx-led-color: #FF0000;
}
.led .led-off {
    -fx-background-color: linear-gradient(from 15% 15% to 85% 85%,
                                          derive(-fx-led-color, -80%) 0%,
                                          derive(-fx-led-color, -87%) 49%,
                                          derive(-fx-led-color, -80) 100%);
    -fx-scale-shape     : true;
    -fx-shape           : "M 15.0 40.0 C 15.0 26.0 26.0 15.0 40.0 15.0 C 54.0 15.0 65.0 26.0 65.0 40.0 C 65.0 54.0 54.0 65.0 40.0 65.0 C 26.0 65.0 15.0 54.0 15.0 40.0 Z";
    -fx-effect          : innershadow(gaussian, black, 10%, 0.0, 0, 0);
}
.led .led-on {
    -fx-background-color : linear-gradient(from 15% 15% to 85% 85%,
                                           derive(-fx-led-color, -23%) 0%,
                                           derive(-fx-led-color, -50%) 49%,
                                           -fx-led-color 100%);
    -fx-scale-shape     : true;
    -fx-shape           : "M 15.0 40.0 C 15.0 26.0 26.0 15.0 40.0 15.0 C 54.0 15.0 65.0 26.0 65.0 40.0 C 65.0 54.0 54.0 65.0 40.0 65.0 C 26.0 65.0 15.0 54.0 15.0 40.0 Z";
}
.frame {
    -fx-background-color: linear-gradient(from 14% 14% to 83% 83%, 
                                          rgba(20, 20, 20, 0.64706) 0%, 
                                          rgba(20, 20, 20, 0.64706) 15%, 
                                          rgba(41, 41, 41, 0.64706) 26%, 
                                          rgba(41, 41, 41, 0.64573) 26%, 
                                          rgba(200, 200, 200, 0.40631) 85%, 
                                          rgba(200, 200, 200, 0.3451) 100%);
    -fx-scale-shape     : true;
    -fx-shape           : "M 15.0 40.0 C 15.0 26.0 26.0 15.0 40.0 15.0 C 54.0 15.0 65.0 26.0 65.0 40.0 C 65.0 54.0 54.0 65.0 40.0 65.0 C 26.0 65.0 15.0 54.0 15.0 40.0 ZM 10.0 40.0 C 10.0 57.0 23.0 70.0 40.0 70.0 C 57.0 70.0 70.0 57.0 70.0 40.0 C 70.0 23.0 57.0 10.0 40.0 10.0 C 23.0 10.0 10.0 23.0 10.0 40.0 Z";
}
.highlight {
    -fx-background-color: radial-gradient(focus-angle 0deg, focus-distance 0%, 
                                          center 12% 12%, 
                                          radius 51%, 
                                          rgb(200, 194, 208) 0%, 
                                          transparent 100%);
    -fx-scale-shape     : true;
    -fx-shape           : "M 20.0 40.0 C 20.0 29.0 29.0 20.0 40.0 20.0 C 51.0 20.0 60.0 29.0 60.0 40.0 C 60.0 51.0 51.0 60.0 40.0 60.0 C 29.0 60.0 20.0 51.0 20.0 40.0 Z";
}


/************************************************************
* LED colors                                                *
************************************************************/
.led-red {
    -fx-led-color: #ca0814;
}
.led-green {
    -fx-led-color: #2bca23;
}
.led-blue {
    -fx-led-color: #033bff;
}
.led-lightblue {
    -fx-led-color: #add8e6;
}
.led-yellow {
    -fx-led-color: #fafa00;
}
.led-orange {
    -fx-led-color: #fc5100;
}
.led-cyan {
    -fx-led-color: #00ffff;
}
.led-magenta {
    -fx-led-color: #ff00ff;
}
.led-purple {
    -fx-led-color: #7900ff;
}
.led-white {
    -fx-led-color: #ffffff;
}
.led-gray {
    -fx-led-color: #cccccc;
}