.split-flap {
    -fx-skin            : "eu.hansolo.enzo.splitflap.skin.SplitFlapSkin";
    -flap-upper-gradient: linear-gradient(to bottom,
                                          rgb(43, 44, 39) 0%,
                                          rgb(59, 58, 53) 100%);
    -flap-lower-gradient: linear-gradient(to bottom,
                                          rgb(59, 58, 53) 0%,
                                          rgb(40, 41, 35) 100%);
}

.split-flap .fixture {
    -fx-background-color : linear-gradient(from 55% 0% to 55% 100%,
                                           rgb(56, 56, 56) 0%,
                                           rgb(156, 156, 156) 18%,
                                           rgb(47, 47, 47) 65%,
                                           rgb(84, 86, 85) 89%,
                                           rgb(55, 55, 55) 100%),
                           linear-gradient(from 57% 0% to 57% 100%,
                                           rgb(116, 116, 116) 0%,
                                           rgb(213, 213, 213) 13%,
                                           rgb(56, 56, 56) 66%,
                                           rgb(64, 64, 64) 73%,
                                           rgb(109, 109, 109) 90%,
                                           rgb(83, 83, 83) 100%);
    -fx-background-insets: 0, 1;
    -fx-scale-shape      : true;
    -fx-shape            : "M 103.0 79.0 H 112.0 V 110.0 H 103.0 V 79.0 Z";
}
.split-flap .fixture-dark {
    -fx-background-color : linear-gradient(from 55% 0% to 55% 100%,
                                           rgb(26, 26, 26) 0%,
                                           rgb(86, 86, 86) 18%,
                                           rgb(17, 17, 17) 65%,
                                           rgb(24, 24, 24) 89%,
                                           rgb(25, 25, 25) 100%),
                           linear-gradient(from 57% 0% to 57% 100%,
                                           rgb(66, 66, 66) 0%,
                                           rgb(153, 153, 153) 13%,
                                           rgb(6, 6, 6) 66%,
                                           rgb(14, 14, 14) 73%,
                                           rgb(39, 39, 39) 90%,
                                           rgb(23, 23, 23) 100%);
    -fx-background-insets: 0, 1;
    -fx-scale-shape      : true;
    -fx-shape            : "M 103.0 79.0 H 112.0 V 110.0 H 103.0 V 79.0 Z";
}

.split-flap .flap-upper {
    -fx-background-color: -flap-upper-gradient;
    -fx-scale-shape     : true;
    -fx-shape           : "M 105.0 0.0 C 110.0 0.0 112.0 3.0 112.0 7.0 C 112.0 7.0 112.0 77.0 112.0 77.0 L 101.0 77.0 L 101.0 93.0 L 11.0 93.0 L 11.0 77.0 L 0.0 77.0 C 0.0 77.0 0.0 7.0 0.0 7.0 C 0.0 3.0 2.0 0.0 7.0 0.0 C 7.0 0.0 105.0 0.0 105.0 0.0 Z";
}

.split-flap .flap-lower {
    -fx-background-color: -flap-lower-gradient;
    -fx-scale-shape     : true;
    -fx-shape           : "M 105.0 189.0 C 110.0 189.0 112.0 186.0 112.0 182.0 C 112.0 182.0 112.0 112.0 112.0 112.0 L 101.0 112.0 L 101.0 96.0 L 11.0 96.0 L 11.0 112.0 L 0.0 112.0 C 0.0 112.0 0.0 182.0 0.0 182.0 C 0.0 186.0 2.0 189.0 7.0 189.0 C 7.0 189.0 105.0 189.0 105.0 189.0 Z";
}
